TOKEN=yourtokenfromdbx

# Optional. If you leave these out, you will have to input these into the program every time.
# Name of the ipa file you exported in Godot Engine
IPA=yourapp.ipa
# Your GitHub username
USERNAME=yourgithubusername
# The name of the GitHub repo that you will use to build your app.
# I recommend choosing a non-existent repo or an empty repo.
REPO_NAME=yourbuildingrepo